@media screen and (min-width: 640px) {
  body {
    /* background-color: pink; */
  }

  body p {
    word-wrap: break-word;
  }

  /* #region Nav Bar */
  header {
    padding: 5px 10px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    /* flex: row; */
  }

  .nav-menubar-header button {
    display: none;
  }

  nav ul {
    align-items: center;
    flex-direction: row;
  }

  nav ul li {
    padding: 0 10px;
  }

  nav ul {
    background-color: #dc0a11;
    color: white;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px 0;
    max-width: fit-content;
  }

input,
textarea {
  max-width: 255px;
}



/* .directory-list {

} */



/*  */
/* nav a {
  color: white;
  text-decoration: none;
  padding: 8px;
} */
/* nav li a:hover {
  border-radius: 2px;
  background-color: #b80c12;
} */
/* nav a.active {
  color: #dc0a11;
  background-color: white;
  border-radius: 2px;
} */

/*  */

  .hide {
    /* display: inline; */
  }

  /* #endregion */


  /* #region Home */
  .accordion {
    /* display: none; */
  }

  .content {
    /* min-height: 240px; */
    /* weather - 224,about - 643, events 224?, info - 73, local-602 */
    /* overflow: auto; */
  }

  /* #local-business {
    /* min-height: 2044px;  */
    /* overflow: auto; */
  /* } */
/* 
  .home-main-content > div:nth-child(2) {
    max-height: 224px;
  }
  .home-main-content > div:nth-child(3) {
    max-height: 643px;
  }
  .home-main-content > div:nth-child(4) {
    max-height: 224px;
  }
  .home-main-content > div:nth-child(5) {
    max-height: 73px;
  }
  .home-main-content > div:nth-child(6) {
    max-height: 602px;
  } */

  /* #endregion */

  /* #region Directory Page */
  nav.directory {
    display: block; /* Hide Expand / Collapse option */
  }

  /* .city-directory-main {
    display: flex;
    flex-direction: column;
  } */

  .directory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .directory-options {
    display: flex;
  
  }

  .city-directory-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
  }

  .city-directory-list{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    padding: 0;
  }

  .business-container .list{
   max-width: 135px;
   text-align: center;
  }

  .business-container img.list {
    max-width: 10vw;
  }

  .business-container p.list {
    word-wrap: break-word;
  }
  

  /* #endregion */
}
