@media screen and (min-width: 640px) {
  body {
    background-color: pink;
  }

  /* #region Nav Bar */
  header {
    padding: 5px 10px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    flex: row;
  }

  .nav-menubar-header button {
    display: none;
  }

  nav ul {
    align-items: center;
    flex-direction: row;
  }

  nav ul li {
    padding: 0 10px;
  }

  .hide {
    /* display: inline; */
  }

  /* #endregion */


  /* #region Home */
  .accordion {
    /* display: none; */
  }

  .content {
    /* min-height: 240px; */
    /* weather - 224,about - 643, events 224?, info - 73, local-602 */
    /* overflow: auto; */
  }

  /* #local-business {
    /* min-height: 2044px;  */
    /* overflow: auto; */
  /* } */
/* 
  .home-main-content > div:nth-child(2) {
    max-height: 224px;
  }
  .home-main-content > div:nth-child(3) {
    max-height: 643px;
  }
  .home-main-content > div:nth-child(4) {
    max-height: 224px;
  }
  .home-main-content > div:nth-child(5) {
    max-height: 73px;
  }
  .home-main-content > div:nth-child(6) {
    max-height: 602px;
  } */

  /* #endregion */

  /* #region Directory Page */
  nav.directory {
    display: block; /* Hide Expand / Collapse option */
  }

  /* #endregion */
}
