* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  background-color: yellow;
  /* display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between; */
}

/* #region NavBar */
.nav-menubar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 2px 0 2px;
}
.nav-menubar-header button {
  border:none;
  background-color: rgb(206, 206, 206);
  border-radius: 5px 5px 0 0;
  min-width: 12vw;
  /* max-height: 6vh; */
}
.nav-menubar-header img {
  height: 50px;
}

nav ul {
  background-color: rgb(206, 206, 206);
  border-radius: 0 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px 0;
  max-width: fit-content;
}

#primary-nav {
  margin-left: 2px;
}

nav a {
  text-decoration: none;
  padding: 8px;
}
nav li:hover {
  background-color: yellow;
}
nav a.active {
  /* background-color: pink; */
}

.hide {
  display: none;
}
/* #endregion */

/* #region Directory Page */
nav.directory {
  display: none; /* Hide Expand / Collapse option */
}

.city-directory-main {
}

.city-directory-main img {
  padding-top: 20px;
  max-height: 20vh;
}


/* #endregion */

/* #region Home Page */

.home-main {
  min-height: 80vh
}

.home-main button {
  color: #f91c24;
  width: 100%;
  padding: 5px;
  margin: 2px;
}

button.active {
  background-color: rgba(162, 161, 161, 0.762);
  color: #f91c24;
  width: 100%;
}

.image-carousel img {
  width: 100vw;
}

.home-main-content {
  padding: 5px 5px
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.weather-forecast {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 0;
  margin: 10px 0;
}

.weather-forecast p {
  padding-bottom: 5px;
}

.three-day-forecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.three-day-forecast img {
  max-width: 20vw;
}

/* .three-day-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* #endregion */

/* #region Footer */
footer {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  text-align: end;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* footer > ul {
  margin-right: -50px;
} */

.footer-info > ul > li {
  display: inline;
}

.copyright {
  padding-top: 5px;
}

#last-modified {
  padding-right: 20px;
}


.footer-info > ul > li > a > img {
  width: 20%;
  padding-top: 4px;
}

/* #endregion */
