* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  /* background-color: yellow; */
  /* display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between; */
  /* font-family: 'Lato', sans-serif; */
}

/* #region NavBar */
.nav-menubar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 2px 0 2px;
}
.nav-menubar-header button {
  border:none;
  color: white;
  background-color: #dc0a11;
  border-radius: 5px 5px 0 0;
  min-width: 12vw;
  /* max-height: 6vh; */
}
.nav-menubar-header img {
  height: 50px;
}

nav ul {
  background-color: #dc0a11;
  color: white;
  border-radius: 0 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px 0;
  max-width: fit-content;
}

#primary-nav {
  color: white;
  margin-left: 2px;
}

nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 3px;
  /* padding: 8px; */
  margin: 5px;
  /* padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px; */
  /* padding: 15px 5px; */
  padding: 0 5px;
}

nav li a:hover {
  /* padding-top: 6px; */
  color: blue;
}

nav a.active {
  color: #bd2c31;
  background-color: white;
  /* padding: 15px; */
}

.hide {
  display: none;
}
/* #endregion */

/* #region Directory Page */
nav.directory {
  display: none; /* Hide Expand / Collapse option */
}

.city-directory-main {
  padding-left: 10px;
  padding-bottom: 10px;
}

.city-directory-main img {
  padding-top: 20px;
  max-height: 20vh;
  padding-bottom: 10px;
}

.directory-header {
  background-color: #dc0a11;
  color: white;
  text-align: center;
}

.directory-options {
  display: none;
}

/* #endregion */
.city-about img {
  max-width: 100vw;
}
.city-events-heading {
  background-color: #dc0a11;
  color: white;
  text-align: center;
  margin: 5px 0;
  padding: 10px 0;
}

.city-main p {
  margin: 10px 0;
  padding: 2px;
}

.event-container {
  /* border: 1px solid #dc0a11; */
  border-bottom: 1px solid #dc0a11;
  padding: 10px 2px;
}


/* #region Home Page */

.home-main {
  min-height: 80vh
}

.home-main button {
  color: black;
  /* color: white; */
  border-color: #bd7b7d;
  /* background-color: #ffb9bc; */
  background-color: rgb(245, 242, 242);
  width: 100%;
  padding: 5px;
  margin: 2px;
}

button.active {
  color: white;
  border-color: #dc0a11;
  background-color: #dc0a11;
  /* color: #dc0a11; */
  width: 100%;
}

.image-carousel img {
  width: 100vw;
}

.home-main-content {
  padding: 5px 5px
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.weather-forecast {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 0;
  margin: 10px 0;
}

.weather-forecast p {
  padding-bottom: 5px;
}

.three-day-forecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.three-day-forecast img {
  max-width: 20vw;
}

/* .three-day-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* #endregion */

/* #region Contact */
form {
  margin: 15px;
}

label {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#membership-desc {
  padding: 5px;
}

form button {
  margin: 5px;
  padding-top: 5px;
}

.contact-info:not(.map) {
  padding-left: 2px;
}

/* #endregion */

/* #region Footer */
footer {
  /* background-color: pink; */
  background-color: #dc0a11;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  text-align: end;
  padding-bottom: 10px;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* footer > ul {
  margin-right: -50px;
} */

.footer-info > ul > li {
  display: inline;
}

.copyright {
  padding-top: 5px;
}

#last-modified {
  padding-right: 20px;
}


.footer-info > ul > li > a > img {
  width: 20%;
  padding-top: 4px;
}

/* #endregion */
